*{
	padding: 0px;
	margin: 0px;
}
div.board{
	border: black solid 1px;
	margin: auto;
	width: 630px;
	height: 630px;
}
div.c{
	background-color: #fff;
	width: 90px;
	height: 90px;
	float: left;
}
div.n{
	background-color: #e6e6e6;
	width: 90px;
	height: 90px;
	float: left;
	position: relative;
	z-index: -100;
}
