<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/shared.css">
    <link rel="stylesheet" href="../css/board.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <title>onlasca.org • Playing</title>
</head>
<body>
    <div id="gear"></div>
    <div id="preferences" class="shadowed" style="visibility: hidden;">
        <div><p><b>board</b></p></div>
        <div><p class="preferences-option">classic</b></p></div>
        <div><p class="preferences-option">clear</b></p></div>
        <div><p><b>pieces</b></p></div>
        <div><p class="preferences-option">black'n'white</p></div>
        <div><p class="preferences-option">classic</p></div>
        <div><p class="preferences-option">clear</p></div>
    </div>
    <div id="main">
        <div id="panel">
            <header><p class="title"><a href="/">onlasca.org</a></p></header>
            <nav>
                <ul>
                    <li><a href="/">challenge</a></li>
                    <li><a href="/rules">rules</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </nav>
        </div>
        <div id="playground">
            <div id="board-border" class="shadowed"><div id="board"></div></div>
            <div id="game-info" class="shadowed">Hola</div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/play.js"></script>
</body>
</html>