<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <title>onlasca.org • lasker's game</title>
</head>
<body>
    <div id="main">
        <div id="panel">
            <header><p class="title"><a href="/">onlasca.org</a></p></header>
            <nav>
                <ul>
                    <li><a href="/">challenge</a></li>
                    <li><a href="/rules">rules</a></li>
                    <li><a href="/about">about</a></li>
                </ul>
            </nav>
        </div>
        <section id="challenger" class="shadowed">
            <div>
                <div><p><b>open challenges</b></p></div>
                <div id="challenge-display" class="shadowed">
                    <p>GAME - roberzyx</p>
                    <p>GAME - roberzyx</p>
                    <p>GAME - roberzyx</p>
                    <p>GAME - roberzyx</p>
                    <p>GAME - roberzyx</p>
                    <p>GAME - roberzyx</p>
                </div>
            </div>
            <form id="challenge-form">
                <div>
                    <p><b>challenge</b></p>
                    <input type="text" placeholder="enter the challenge name..." />
                    <br><br>
                    <p><b>player</b></p>
                    <input type="text" placeholder="enter your player name..." />
                    <br><br>
                    <button id="create" class="shadowed">create</button>
                    <button id="join" class="shadowed">join</button>
                </div>
            </form>
        </section>
    </div>

    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>