<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../favicon-32x32.png">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>onlasca.org • <%= profile %>'s profile</title>
</head>
<body>
    <div id="app">
        <header>
            <div id="title">
                <a href="/">onlasca.org</a>
            </div>
            <div id="links">
                <ul>
                    <% if (username != 'anonymous') { %>
                        <li><a href="/@/<%= username %>"><%= username %></a></li>
                        <li><a href="/logout">LOG OUT</a></li>
                    <% } else { %>
                        <li><a href="/login">LOG IN</a></li>
                        <li><a href="/register">REGISTER</a></li>
                    <% } %>
                </ul>
            </div>
        </header>
        <div id="homepage">
            <p style="font-weight: bold;"><%= profile %>'s profile</p>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>