* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 10px;
}
#title {
    font-size: 32px;
    float: left;
}
#title a {
    text-decoration: none;
    color: rgb(64, 64, 64)
}
#title a:hover{
    color: rgb(122, 142, 168);
}
#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#links ul li {
    float: left;
}
#links ul li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
body {
    background-color: rgb(230, 227, 224);
}
#game {
    width: 990px;
    height: 490px;
    margin: auto;
    display: grid;
    grid-template-columns: 230px 240px 240px auto;
    grid-template-rows: 100px auto;
    gap: 10px;
}
#homepage {
    background-color: white;
    margin: auto;
    width: 60%;
    padding: 10px;
}
#chat, #board, #info, #history, #userform, #homepage {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#board {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../img/boards/wood1.png");
    cursor: pointer;
    max-height: 490px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
}
#chat {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: auto 400px 25px;
    gap: 10px;
    padding: 10px;
}
#cbody {
    display: inline-block;
    word-break: break-word;
    overflow-y: auto;
}
#cusername {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#cinput input {
    width: calc(100% - 3px);
}
#info {
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto;
}
#ilogoplayers {
    display: grid;
    grid-template-columns: 38px auto;
    column-gap: 20px;
}
#ivariantlogo {
    -webkit-user-select: none;
    -moz-user-select: none;
}
#itypeofgame {
    text-align: center;
}
#iwhiteplayer {
    display: grid;
    grid-template-columns: 20px auto;
}
#iwhitepiece {
    -webkit-user-select: none;
    -moz-user-select: none;
}
#iwhitename a {
    text-decoration: none;
    color: black;
}
#iblackplayer {
    display: grid;
    grid-template-columns: 20px auto;
}
#iblackpiece {
    -webkit-user-select: none;
    -moz-user-select: none;
}
#iblackname a {
    text-decoration: none;
    color: black;
}
#igamestatus {
    text-align: center;
}
#history {
    cursor: pointer;
    display: grid;
    grid-template-rows: 90% auto;
}
#hmoves {
    display: grid;
    grid-template-columns: 30px auto;
    overflow-y: auto;
    max-height: 342px;
}
#hmovenumbers {
    display: grid;
    grid-auto-rows: 30px;
}
#hmovenumbers p {
    margin: auto;
}
#hmovenotations {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 30px;
}
#hmovenotations button {
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: inherit;
}
#hmovenotations button:hover {
    background-color: rgb(170, 190, 216);
}
#hbuttons {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    border-top: 1px solid rgb(230, 230, 230);
    -webkit-user-select: none;
    -moz-user-select: none;
}
#hbuttons button {
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: inherit;
}
#hbuttons button:hover {
    background-color: rgb(122, 142, 168);
}
#hbuttons button:hover img {
    filter: invert(100%);
}
#history button:focus {
    outline: 0;
}
#userform {
    background-color: white;
    margin: auto;
    width: 40%;
    padding: 10px;
}
#userform input {
    width: calc(100% - 14px);
    height: 30px;
    font-size: 20px;
    padding: 5px;
}
#userform button {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    border: 0;
    background-color:  rgb(122, 142, 168);
    cursor: pointer;
}
#register {
    padding: 20px;
}